{% extends "layoutlogin.html" %}
{% block content %}
<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Judul Buku</th>
                      <th>Tanggal Pinjam</th>
                      <th>Kembalikan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for buku in borrow_list %}
                    <tr>
                        <td>{{buku.Judul}}</td>
                        <td>{{buku.TglPinjam}}</td>
                        <td>
                            <form action="http://localhost:5000/kembaliBuku/{{buku.KodeBuku}}" method="post">
                            <button type="submit" name="pinjam" class="form-inline my-2 my-lg-0 btn btn-secondary">Kembalikan</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock content %}